.home-page {
  color: white;
  background-color: #121212; /* Dark background */
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.home-page h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-page p {
  font-size: 1.2rem;
}

